:root {
  --font_family: 'Avenir', system-ui;
  --border-radius-s: .2rem;
}

*,*::before,*::after {
  box-sizing: border-box;
}

html { font-size: 1.5vmin; }

body {
  font-family: var(--font_family), system-ui, sans-serif;
  font-size: 100%;
  user-select: none;
  text-shadow: 0 1px .21em rgb(0 0 0 / 35%);
}

*::selection {
  background-color: rgb(163 163 163 / 32%);
}

.btn-ui-big {
  all: unset;
  cursor: pointer;
  font-size: 2.5rem;
  display: flex;
  flex-direction: column;
  border-radius: 2em;
  border: 2px solid transparent;
  padding: .6rem;
  transition: all .24s;
  opacity: .7;
}
.btn-ui-big:hover { opacity: 1; }

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
